**/test/css/**
**/test/js/**

.idea/
.gradle/
gradle/
**/build/**
task-info.yaml
task-remote-info.yaml
lesson-info.yaml
lesson-remote-info.yaml
section-info.yaml
section-remote-info.yaml
course-info.yaml
course-remote-info.yaml

*.class
TaskTest.java
